<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  	<!-- spring 核心的监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext.xml</param-value>
  </context-param> 
  <!-- 配置中文过滤器 -->
  <filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 配置生成二维码 -->
	<servlet>
		<servlet-name>Cabinet_QRCodeServlet</servlet-name>
		<servlet-class>
			com.guanghua.edms.service.JiGuiServlet
		</servlet-class>
	</servlet>
  <servlet-mapping>
		<servlet-name>Cabinet_QRCodeServlet</servlet-name>
		<url-pattern>/Cabinet_QRCodeServlet</url-pattern>
	</servlet-mapping>
  <!-- 配置struts2 的核心filter -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>captcha</servlet-name>
		<servlet-class>com.guanghua.edms.common.captcha.JcaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>captcha</servlet-name>
		<url-pattern>/captcha.svl</url-pattern>
	</servlet-mapping>
	<!--设置默认的访问页，访问网址http://localhost:8080/EquipDistributionMS 时可以自动跳转到登录页面 -->
  <welcome-file-list>
    <welcome-file>/welcome/userLogin.jsp</welcome-file>
  </welcome-file-list>
</web-app>